// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header{
    color: #1ec70f;
    text-align:center;
    font-family:"Palatino Linotype";
    font-size: 84px;
}